bitarray==2.7.3
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.2
Jinja2==3.1.2
MarkupSafe==2.1.2
pdfkit==1.0.0
pdfminer==20191125
pdfminer.six==20221105
pdfreader==0.1.12
Pillow==9.5.0
pycparser==2.21
pycryptodome==3.17
pypdf==3.8.1
PyPDF2==3.0.1
python-dateutil==2.8.2
six==1.16.0
